<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>くじ作成</title>
</head>
<body>
	<h1>くじ作成</h1>
	<form th:action="@{/lotteries}" th:object="${lottery}" method="post">
		<div>
			<label>タイトル</label><br>
			<input type="text" th:field="*{title}">
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
		</div>
		
		<div>
			<label>除外タイプ</label><br>
			<select th:field="*{excludeType}">
				<option value="NONE">なし</option>
				<option value="COUNT">回数</option>
				<option value="DATE">日数</option>
			</select>
			
			<div th:if="${#fields.hasErrors('excludeType')}" th:errors="*{excludeType}"></div>
		</div>
		
		<div>
			<label>除外回数</label><br>
			<input type="number" th:field="*{excludeCount}">
			
			<div th:if="${#fields.hasErrors('excludeCount')}" th:errors="*{excludeCount}"></div>
		</div>
		
		<div>
			<label>除外日数</label>
			<input type="number" th:field="*{excludeDays}">
			
			<div th:if="${#fields.hasErrors('excludeDays')}" th:errors="*{excludeDays}"></div>
		</div>
		
		<button type="submit">作成</button>
	</form>
	
	<p>
		<a th:href="@{/lotteries}">一覧に戻る</a>
	</p>

</body>
</html>